body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* padding: 0px 10px 0px 10px; */
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: rgb(50, 50, 50);
    width: 100vw;

    max-width: 400px;
    margin: 0 auto;
    font-family: futura;
    position: fixed;

}
html{
    overflow: hidden;
    max-width: 400px;
    height: 100%;
}

#header{
    position: absolute;
    top: 0;
}
.q-wrap{
    /* background-color: rgb(209, 209, 209); */
    background-color: rgb(60, 60, 60, .5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    color: white;
    /* margin: 50px 0px 50px 0px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 75vh;
    width: 90%;
    /* padding: 25px; */
}
.q-wrap>h1{
    background-color: #5B8266;
    font-family: aima;
    color: white;
    width: 110%;
    text-align: center;
    margin: 0;
    padding: 15px;
    /* border: 2px solid white; */
}

.q-wrap>h4{
    padding: 25px;
}
.btn-wrap{
    /* background-color: pink; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}
button{
    width: 125px;
    height: 50px;
    margin: 15px;

    border-radius: 50px;
    border: 0px;
    background-color: #5B8266;
    color: white;
}

#head-video{
    width: auto; 
    height: 100vh; 
    position: absolute; 
    z-index: -1;
}
.intro-wrap{
    /* background-color: red; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(60, 60, 60, .5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    color: white;
    
}
.intro-wrap>p{
    padding: 25px;
}
.intro-wrap>span>h1{
    margin: 0px;
    padding: 0px;
    height: 35px;
}
.intro-wrap>span>*{
    font-family: aima;
    text-align: center;


}
#img-wrap{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: rgb(60, 60, 60, .5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    height: 100vh; 
    overflow-x: hidden;
    color:white;
}
#img-wrap>img{
    width: 75%;
    border: 8px solid #5B8266;
    margin: 50px 50px 0px 50px;
}
#img-wrap>button{
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#share-info{
    margin: 0px;
    padding: 25px 25px 0px 25px !important;
}
#steps{
    width: 100vw;
    padding-left: 15px;
}
#img-wrap>h4{
    padding: 25px;
}
#img-wrap>ol{
    background-color: pink;
}
#fail-text{
    padding: 25px;
}
#success-text{
    padding: 25px;
}
@font-face {
    font-family: 'aima';
    src: url("/static/fonts/Aima.ttf");
}
@font-face {
    font-family: 'futura';
    src: url("/static/fonts/futura.otf");
}
